---
# we moved to bitnami legacy images so `allowInsecureImages` is enabled due to an image verification issue during chart deployment.
# Refer to https://github.com/Obmondo/kubeaid/blob/fc2defaa25dc9c9f2da00db3ecf893277e0250f6/argocd-helm-charts/odoo/charts/odoo/charts/postgresql/charts/common/templates/_errors.tpl#L68
# for context on this workaround and related error handling logic.
global:
  security:
    allowInsecureImages: true
odoo:
  postgresql:
    enabled: false

  externalDatabase:
    host: odoo-pgsql-rw
    port: 5432
    user: odoo
    password: ""
    database: odoo
    create: false
    existingSecret: "odoo-pgsql-app"
    existingSecretPasswordKey: "password"

  odooEmail: admin@example.com
  allowEmptyPassword: false

  persistence:
    enabled: true
    size: 8Gi

  service:
    type: NodePort
    ports:
      http: 80
    nodePorts:
      http: 30080

  ingress:
    enabled: false

  image:
    registry: docker.io
    repository: bitnamilegacy/odoo

# tolerations:
#   - key: "node-role.kubernetes.io/control-plane"
#     operator: "Exists"
#     effect: "NoSchedule"

postgres:
  size: 4Gi
  recover: false
  pass: odoo-pgsql-app
  resources:
    limits:
      memory: 1000Mi
      cpu: 500Mi
    requests:
      memory: 500Mi
      cpu: 250m

redirectToWWW:
  enabled: false
